
.image-board-section {
  position: relative;
  background-image: url(./wallpaper.jpg);
  background-size: 1500px 800px;
  width: 1500px;
  height: 800px;
  overflow: hidden;
  float: left;
  text-align: center;
}
.image-board-section span {
  font-weight: bold;
}

.controller-section {
  float: left;
  padding: 20px;
  background-color: #4ED081;
}
.controller-section .shape-control-section {
  display: flex;
  background-color: #4EF081;
  margin: 5px 0px;
  border-radius: 3px;
}
.controller-section .shape-control-section .btn-visibility {
  background: none;
  border: none;
}
.controller-section .shape-control-section .btn-visibility:focus {
  outline: none;
}
.controller-section .shape-control-section .btn-visibility img {
  width: 21px;
  height: 21px;
  float: right;
}

.controller-section .add-new-shape .btn-new-shape{
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #4ED081;
}
.controller-section .add-new-shape .btn-new-shape:focus {
  border: none;
  outline: none;
}
.controller-section .add-new-shape .btn-new-shape:hover {
  background-color: #DDDDDD;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
